<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Example Project on Fly.io</title>
</head>
<body>

<p>Non-unique views counter is currently at: <b>{{ counter.total_count }}</b></p>
<p>DB entry has been created at {{ counter.created_at }}</p>
<p>DB entry has been updated at {{ counter.updated_at }}</p>

<p>See source at <a href="https://github.com/tomwojcik/django-fly.io-example-project">https://github.com/tomwojcik/django-fly.io-example-project</a></p>

</body>
</html>